.formContainer {
  margin: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 300px;
}
label {
  display: inline-block;
  width: 90px;
  text-align: right;
  margin-right: 5px;
}

.form-group {
  padding: 8px;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

input::placeholder {
  color: red;
}
.btn {
  background-color: rgb(59, 126, 163);
  position: absolute;
}
